/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

// &spi1 {
//     compatible = "nordic,nrf-spim";
//     status = "okay";
//     mosi-pin = <6>;
//     // Unused pins, needed for SPI definition, but not used by the ws2812 driver itself.
//     sck-pin = <5>;
//     miso-pin = <7>;

//     led_strip: ws2812@0 {
//         compatible = "worldsemi,ws2812-spi";
//         label = "WS2812";

//         /* SPI */
//         reg = <0>; /* ignored, but necessary for SPI bindings */
//         spi-max-frequency = <4000000>;

//         /* WS2812 */
//         chain-length = <11>; /* arbitrary; change at will */
//         spi-one-frame = <0x70>;
//         spi-zero-frame = <0x40>;
//         color-mapping = <LED_COLOR_ID_GREEN
//                             LED_COLOR_ID_RED
//                             LED_COLOR_ID_BLUE>;
//     };
// };

&sk {
    release-after-ms = <500>;
};

/ {
        // chosen {
        //     zmk,underglow = &led_strip;
        // };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -------------------------------------------------------------------------------------
// |  TAB      |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  | BKSP     |
// | CTRL[ESC] |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  | SHFT[RET]|
// | sk(SHFT)  |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  |  '       |
//                                 | ALT | LWR | SPC | RSE  | LGUI |
                        bindings = <
   &kp TAB       &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSPC
   &mt LCTRL ESC &kp A &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E     &kp I   &kp O    &mt RSHFT RET
   &sk LSHFT     &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp SQT
                         &kp LALT  &mo 1 &kp SPACE &mo 2  &kp LGUI
                        >;
                };

                lower_layer {
// ----------------------------------------------------------------------------------
// |    |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | DEL |
// |    |  _  |  +  |  {  |  }  | "|" |   | F1  | F2  | F3  | F4  | F5  | F6  |
// |    | VOL-| VOL+| MUTE| ESC | C(J)|   | F7  | F8  | F9  | F10 | F11 | F12 |
//                       |     |     | RET | ADJ |     |
                        bindings = <
   &trans &kp EXCL     &kp AT       &kp HASH   &kp DLLR &kp PRCNT      &kp CARET &kp AMPS &kp STAR    &kp LPAR  &kp RPAR  &kp DEL
   &trans &kp UNDER    &kp PLUS     &kp LBRC   &kp RBRC &kp PIPE       &kp F1    &kp F2   &kp F3    &kp F4    &kp F5    &kp F6
   &trans &mkp MCLK    &mkp LCLK    &mkp RCLK  &kp ESC  &kp LC(J)      &kp F7    &kp F8   &kp F9    &kp F10   &kp F11   &kp F12
                                       &trans      &trans       &trans        &mo 3       &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |    |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | DEL      |
// |    |  -  |  =  |  [  |  ]  |  \  |   | PRSC| LFT | DWN |  UP | RGT | SHFT[RET]|
// |    | Prev| PP  | Next| CAPS| MENU|   |  `  | HOME| END | PGUP| PGDN|  ~       |
//                       |     | ADJ | BKSP |    |     |
                        bindings = <
   &trans &kp N1     &kp N2    &kp N3     &kp N4    &kp N5        &kp N6    &kp N7   &kp N8    &kp N9    &kp N0    &kp DEL
   &trans &kp MINUS  &kp EQUAL &kp LBKT   &kp RBKT  &kp BSLH      &kp PSCRN &kp LEFT  &kp DOWN &kp UP    &kp RIGHT &mt RSHFT RET
   &trans &kp C_PREV &kp C_PP  &kp C_NEXT &kp CLCK  &kp K_CMENU   &kp GRAVE &kp HOME  &kp END  &kp PG_DN &kp PG_UP &kp TILDE
                                  &trans      &mo 3       &trans        &trans      &trans
                        >;
                };

                adjust_layer {
// -----------------------------------------------------------------------------------------
// | RGB BRI+ | RGB SAT+ | RGB HUE+ | RGB ANI+ |    | RGB TOG |   |  BT1   | BT2 | BT3 | BT4 | BT5 | BT CLR |
// | RGB BRI- | RGB SAT- | RGB HUE- | RGB ANI- |    |         |   |        |     |     |     |     |        |
// |          |          |          |          |    |         |   | OUT_TOG|     |     |     |     | RESET  |
//                                               |     |     |     |     |     |
                        bindings = <
   &rgb_ug RGB_BRI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_EFF &none &rgb_ug RGB_TOG    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
   &rgb_ug RGB_BRD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_EFR &none &none              &none        &none        &none        &none        &none        &none
   &none           &kp C_VOL_DN    &kp C_VOL_UP    &kp K_MUTE      &none &none              &out OUT_TOG &none        &none        &none        &none        &sys_reset
                                                              &trans      &trans       &tog 3        &trans      &trans
                        >;
                };
        };
};
